cmake-build-debug/
build/

# CLion
.idea/
!.idea/icon*.png
cmake-build-*

# VS Code
.vscode/
.DS_Store
.VSCodeCounter

# VS Code files for those working on multiple tools
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

## Xcode
project.xcworkspace
xcuserdata

# imgui
*.ini

# saves
save/*
!test.ini
!test.sav
!final_test.ini
!final_test.sav